* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: rgb(11, 92, 148);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav {
    font-size: 1.5rem;
}

.site-title {
    font-size: 2rem;
}

.site-title:hover {
    background-color: rgb(177, 141, 105);
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: rgb(234, 196, 113);
}

.nav li:hover {
    background-color: rgb(177, 141, 105);
}
